* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(207,204,123);
background: linear-gradient(42deg, rgba(207,204,123,1) 10%, rgba(151,149,90,1) 100%);
}